<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.roya.cookingstudio">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeScreen" />
        <activity android:name=".BengaliDishes" />
        <activity android:name=".IndianDishes" />
        <activity android:name=".ChineseDishes" />
        <activity android:name=".Kacchi" />
        <activity android:name=".Buna" />
        <activity android:name=".Panta" />
        <activity android:name=".H_biryani" />
        <activity android:name=".Dhokla" />
        <activity android:name=".Korma" />
        <activity android:name=".Mama" />
        <activity android:name=".Sour" />
        <activity android:name=".Tso"></activity>
    </application>

</manifest>